:root {
  --text-font: Arial, sans-serif;
  --body-font: "Inter", sans-serif;
  --rm-white: #ffffff;
  --color-dark-brown: #481e0b;
  --color-sec-brown: #cd5f37;
  --color-tertiary: #69615d;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --ivory: #fcf4f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--text-font);
}

body {
  font-family: var(--body-font);
  background-color: var(--ivory);
  overflow-x: hidden;
  color: var(--color-tertiary);
}

/* General */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.btn {
  display: inline-block;
  background-color: var(--color-sec-brown);
  color: var(--rm-white);
  padding: 1rem 2rem;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: none;
  cursor: pointer;
  font-family: var(--body-font);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--bs-gradient);
  transition: all 0.5s ease;
  z-index: -1;
}

.btn:hover:before {
  left: 100%;
}

.btn:hover {
  background-color: var(--color-dark-brown);
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 15px var(--color-tertiary);
}
.btn-join {
  display: none;
}

section {
  padding: 5rem 1.5rem;
  position: relative;
}
.section-light {
  background-color: var(--rm-white);
}

.section-warm {
  background-color: var(--ivory);
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
  color: var(--color-dark-brown);
}

/* Floating Background Elements */
.floating-element {
  position: absolute;
  border-radius: 50%;
  background: rgba(208, 139, 116, 0.05);
  z-index: 0;
  pointer-events: none;
}

/* Spinner Wrapper */
.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100vh;
  background: var(--ivory);
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Hide Spinner */
.spinner.hide {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease;
}

/* Spinner Animation */
.spinner-grow {
  width: 3rem;
  height: 3rem;
  background-color: var(--color-sec-brown);
  border-radius: 50%;
  animation: spinner-grow 0.8s linear infinite;
}

@keyframes spinner-grow {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0.6;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

/* Hero & Navbar */
/* navbar */
.nav-header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition:
    background 0.3s ease,
    backdrop-filter 0.3s ease,
    box-shadow 0.3s ease;
}

.nav-header.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--color-sec-brown);
  backdrop-filter: blur(8px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 6%;
}

/* LOGO */
.nav-logo img {
  width: 50px;
}

.nav-logo h1 {
  font-size: 30px;
  /* font-family:  */
  font-weight: bold;
  color: var(--color-dark-brown);
}

/* NAV */
.header-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition:
    background 0.3s ease,
    backdrop-filter 0.3s ease,
    box-shadow 0.3s ease;
}

.nav-header.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--ivory);
  backdrop-filter: blur(8px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.header-nav-links a {
  text-decoration: none;
  color: var(--color-dark-brown);
  font-size: 20px;
  transition: 0.3s;
  font-family: var(--text-font);
  font-weight: bold;
}

.header-nav-links a:hover,
.current a {
  color: var(--color-sec-brown);
}

/* PHONE BUTTON */
.header-contact-num {
  background: var(--color-sec-brown);
  padding: 10px 20px;
  border-radius: 30px;
  color: var(--rm-white);
  text-decoration: none;
  font-size: 18px;
  font-family: var(--text-font);
  font-weight: bold;
}

/* Container */
.hero-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* Hero Section */
.hero-header {
  background:
    var(--bs-gradient),
    url("https://images.pexels.com/photos/7273304/pexels-photo-7273304.jpeg");
  background-size: cover;
  background-position: center;
  padding: 100px 20px;
  color: #000;
  min-height: 100vh;
}

/* Text Alignment */
.hero-content {
  max-width: 700px;
}

/* Small heading */
.hero-content p.top-text {
  font-size: 20px;
  color: var(--color-sec-brown);
  margin-bottom: 15px;
  font-weight: 500;
}

/* Main heading */
.hero-content h1 {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--color-dark-brown);
}

/* Sub text */
.hero-content p.sub-text {
  font-size: 20px;
  color: var(--color-dark-brown);
}

/* Buttons section */
.hero-buttons {
  display: flex;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
  gap: 30px;
}

/* Primary button */
.btn-primary {
  background: var(--color-sec-brown);
  color: var(--rm-white);
  padding: 15px 30px;
  text-decoration: none;
  margin-right: 20px;
  transition: 0.3s;
}

/* Play button */
.btn-play {
  position: relative;
  width: 26px;
  height: 26px;
  padding: 18px 20px 20px 18px;
  border: none;
  cursor: pointer;
  background: var(--color-sec-brown);
}

/* Triangle inside play button */
.btn-play::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -50%);
  background: var(--color-sec-brown);
  animation: pulse-border 1500ms ease-out infinite;
}

.btn-play:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -50%);
  background: var(--color-sec-brown);
}

.btn-play span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: block;
  width: 0;
  height: 0;
  border-left: 16px solid var(--rm-white);
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
}

.btn-play.playing span {
  display: none;
}

/* Play text */
.play-text {
  margin-left: 15px;
  font-size: 18px;
  color: var(--color-dark-brown);
  font-weight: bold;
}

@keyframes pulse-border {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 90%;
  max-width: 800px;
  background: #000;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: white;
}

.close-btn {
  background: none;
  border: none;
  color: var(--rm-white);
  font-size: 25px;
  cursor: pointer;
}

.modal-body iframe {
  width: 100%;
  height: 450px;
  border: none;
}

/* About the Program */
.about-program {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.about-program .section-subtitle {
  width: 600px;
  font-size: 1.2rem;
}

.about-program .about-img img {
  height: 500px;
  height: 500px;
}

.designs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}
.designs .design-card {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-tertiary);
  cursor: pointer;
}

.design-card i {
  font-size: 30px;
  color: var(--color-sec-brown);
  transition: transform 0.3s ease;
  padding: 10px;
}

.design-btn {
  margin-top: 2rem;
}

/* Vision Section */
.vision-content {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.vision-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.vision-card {
  width: 350px;
  border: 2px black;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
  object-fit: cover;
}

.vision-imgs img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.vision-card p {
  padding: 16px;
  font-size: 18px;
  color: #333;
  line-height: 1.5;
}

/* What could you do with this knowledge */
.relationship-container {
  position: relative;
  width: 100%;
  max-width: 1100px;
  height: 600px;
  margin: 70px auto;
}

.relation-title {
  font-size: 30px;
  text-align: center;
}

/* Center Circle */
.center-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}

.center-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Cards */
.card {
  position: absolute;
  width: 300px;
  height: 150px;
  padding: 8px;
  border-radius: 8px;

  background: var(--ivory);
  box-shadow: 0 5px 10px var(--color-tertiary);
  font-size: 14px;
  line-height: 1.5;
  border: 2px solid var(--color-sec-brown);
  transition: all 0.3s ease;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

/* Positions */
.top-left {
  top: -30px;
  left: 400px;
}

.top-right {
  top: 200px;
  right: 0;
}

.bottom-left {
  bottom: 250px;
  left: 0;
}

.bottom-right {
  bottom: -30px;
  right: 400px;
}

/* The Relationship Model is not theoretical */

.blissfully-signup {
  width: 900px;
  margin: 20px auto;
}

.form-header {
  margin-bottom: 30px;
}
.blissfully-signup .form-header h2 {
  text-align: center;
  font-size: 40px;
}

.blissfully-signup .form-header p {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

.blissfully-signup .blissfully-form {
  width: 700px;
  padding: 60px;
  background-color: var(--color-dark-brown);
  margin: 20px auto;
}

.blissfully-signup .blissfully-form .btn:hover {
  background-color: var(--color-sec-brown);
}

.form-group {
  margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid var(--color-sec-brown);
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: var(--ivory);
  box-shadow: 0 0 0 2px rgba(247, 148, 29, 0.2);
}

/* addressing-fears */
.addressing-fears {
  width: 100%;
  margin: 20px auto;
}

.address {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 60px;
}

.address:nth-child(2) {
  flex-direction: row;
}

.img {
  flex: 1;
  position: relative;
  border-radius: 20px;
}

.img img {
  width: 100%;
  height: 450px;
  object-fit: contain;
  display: block;
  border-radius: 5px;
  transition: transform 0.6s ease;
}

.img:hover img {
  transform: scale(1.05);
}

.content,
.content1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.content1 h2 {
  font-size: 32px;
}

/* PARAGRAPHS */
.content p,
.content1 p {
  font-size: 1.05rem;
  line-height: 1.7;
  /* color: #ddd; */
}

/* FIRST QUESTION EMPHASIS */
.content1 p:first-child {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--rm-white);
}

/* LIST STYLE */
.content ul {
  padding-left: 20px;
}

.content ul li {
  margin-bottom: 8px;
  font-size: 1.05rem;
  /* color: #ccc; */
  position: relative;
}

/* CUSTOM BULLETS */
.content ul li::marker {
  color: var(--color-dark-brown);
}

/* SUB HEADINGS */
.content p:nth-child(2) {
  font-weight: bold;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .address {
    flex-direction: column;
  }

  .address:nth-child(2) {
    flex-direction: column;
  }

  .img img {
    height: 300px;
  }

  .content,
  .content1 {
    text-align: center;
  }
}

/* What You Will Learn on This Course */

/* Course Section */
.course-section {
  padding: 80px 10%;
  max-width: 1200px;
  margin: 0 auto;
}

.course-section h1 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
}

.lesson {
  background: var(--ivory);
  padding: 25px 30px;
  border-left: 5px solid var(--color-sec-brown);
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.lesson h3 {
  margin: 0 0 10px;
}

.lesson p {
  margin: 5px 0;
  line-height: 1.6;
}

/* Why The Relationship Model Was Created */
.relationship-section {
  padding: 80px 10%;
  display: flex;
  gap: 60px;
  align-items: center;
}

/* LEFT IMAGE */
.relationship-left {
  position: relative;
  flex: 1;
}

.relationship-left img {
  width: 100%;
  height: auto;
  display: block;
}

/* EXPERIENCE BOX */
.relationship-experience {
  position: absolute;
  top: 0px;
  background-color: var(--rm-white);
  right: -40px;
  padding: 25px;
}

.relationship-subcard {
  background-color: var(--color-sec-brown);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  text-align: center;
  height: 150px;
}
.relationship-experience h1 {
  margin: 0;
  font-size: 40px;
}

.relationship-experience h3 {
  font-size: 25px;
}

.relationship-experience h6 {
  font-size: 16px;
}

/* RIGHT CONTENT */
.relationship-right {
  flex: 1.2;
}

.relationship-right h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.relationship-right .subtitle {
  color: var(--color-sec-brown);
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 30px;
}

/* PARAGRAPH */
.relationship-desc {
  line-height: 1.7;
  margin: 20px 0;
}

/* DIVIDER */
hr {
  border: none;
  border-top: 1px solid var(--color-tertiary);
  margin: 25px 0;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .relationship-section {
    flex-direction: column;
  }

  .relationship-experience {
    right: 10px;
    top: 10px;
  }

  .relationship-right h1 {
    font-size: 32px;
  }
}

/* This is For You */

/*For You Checklist */
.for-you-bg {
  background:
    linear-gradient(135deg, var(--ivory) 0%, rgba(232, 221, 216, 0.7) 100%),
    url("../images/for-you-bg.png") no-repeat center;
  background-size: cover;
}
.for-you-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center;
}

.for-you-list {
  list-style: none;
  background: var(--rm-white);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 5px 20px rgba(44, 31, 26, 0.05);
  min-height: 450px;
}

.for-you-list li {
  padding: 0.8rem 1rem 0.8rem 2.5rem;
  position: relative;
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.for-you-list li:hover {
  background-color: rgba(208, 139, 116, 0.05);
  transform: translateX(5px);
}

.for-you-list.yes li:before {
  content: "✔";
  color: var(--color-sec-brown);
  font-weight: bold;
  position: absolute;
  left: 1rem;
  transition: all 0.3s ease;
}

.for-you-list.yes li:hover:before {
  transform: scale(1.3);
}

.for-you-list.no li:before {
  content: "✘";
  color: var(--color-sec-brown);
  font-weight: bold;
  position: absolute;
  left: 1rem;
  transition: all 0.3s ease;
}

.for-you-list.no li:hover:before {
  transform: scale(1.3);
}

/* How do you know that this is for you? */
.included-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.75rem;
}

.included-item {
  display: flex;
  gap: 1rem;
  padding: 1.5rem;
  background: var(--rm-white);
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.included-item:first-child {
  grid-column: span 2;
  background: var(--ivory);
}

.included-item i {
  font-size: 1.5rem;
  color: var(--color-sec-brown);
  margin-top: 0.3rem;
}

/* Footer */
footer {
  background-color: var(--color-dark-brown);
  color: var(--rm-white);
  padding: 4rem 1.5rem 2rem;
  text-align: center;
}

.footer-logo {
  font-family: var(--text-font);
  font-size: 2rem;
  color: var(--rm-white);
  margin-bottom: 1.5rem;
}

.copyright {
  margin-top: 3rem;
  padding-top: 2rem;
  border-top: 1px solid rgba(232, 221, 216, 0.2);
  color: var(--color-sec-brown);
  font-size: 0.9rem;
}
